// main theme
$primary : #318961;
$secondary: #349469; 

// semi passthrough
$c-tip-bg: rgba(66, 185, 131, .25);
$accent: #48be89;
$neutral: #2563eb;
$base-100: #44403c;
$info: #3ABFF8;
$success:  #36D399;
$warning: #FBBD23;
$error: #F87272;


// other theme stuff
$text: #adbac7;
$text-light: #96a7b7;
$text-lighter: #8b9eb0;
$text-lightest: #8094a8;
$border: #3e4c5a;
$border-dark: #34404c;
$tip: #318a62;
$warning: #ceab00;
$warning-bg: #7e755b;
$warning-title: #ceac03;
$warning-text: #362e00;
$danger: #940000;
$danger-bg: #806161;
$danger-title: #610000;
$danger-text: #3a0000;
$details-bg: #323843;
$de-hl-bg-color: #363b46;